.header {
    height:50px; background-color: #f5af7d;
}

.sub_header{
    height:60px;
    background-color:#d4ebec;
    margin-top:50px;
    display: flex;
    justify-content:space-between;
}

.search {
    width:150px;
}

.container {
    margin-top:130px;
}

.game_header p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    font-size: x-small;
}
.kaisai {
    background-color: aquamarine;
}
.syuryou {
    background-color: #cccccc;
}
.uketuketyu {
    background-color: white;
}